{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="{{ animal.personal_photo }}"
                             alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ animal.name }}</p>
                        {% if is_owner %}
                            <a href="{% url 'edit animal' username=request.user.username  animal_slug=animal.slug %}">
                                <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                            </a>
                            <a href="{% url 'delete animal' username='usernam1' animal_slug=animal.slug %}">
                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                            </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <span>{{ photos_count }}</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pet-posts">
            {% for photo in animal_photos %}
                {% include 'animal_photos/photo-item.html' with photo=photo %}
            {% empty %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endfor %}
        </div>
    </div>
{% endblock %}